<div class="list-container">
  <div class="show-row">
    <h3><%= @book_review.title %></h3>
    <p>작성자: <%= @book_review.user.username %></p>
    <br>
    <p><%= @book_review.content %></p>

    <% if session[:user_id]==1 || session[:user_id]==@book_review.user.id %>
      <p><a href="/book_reviews/edit/<%= @book_review.id %>">수정</a> | <a href="/book_reviews/delete_complete/<%= @book_review.id %>">삭제</a></p>
    <% end %>

  <hr>
  <h4>댓글</h4>
  <% @book_review.book_review_comments.each do |book_review_comment| %>
  <p><strong><%= book_review_comment.user.username %></strong> <%= book_review_comment.content %> | <a href="/book_reviews/delete_comment_complete/<%= book_review_comment.id %>">삭제</a></p>
  <% end %>

  <form action="/book_reviews/write_comment_complete" method="post">
    <input type="hidden" name="post_id" value="<%= @book_review.id %>">
    <% if !@comment_writer.nil? %>
    <p><strong><%= @comment_writer.username %></strong> <input type="text" name="comment_content" placeholder="댓글 내용을 입력하세요."> <input type="submit" value="등록"></p>
    <% end %>
  </form>
</div>
