<% @books.reverse.each do |book| %>
<div class="list-row">
  <div class="col-md-2">
    <a href="/books/show/<%= book.id %>"><img src="<%= book.image_url(:thumb) %>" width="105px"></a>
  </div>
  <div class="col-md-7">
    <br>
    <font style="font-size:20px;"><a href="/books/show/<%= book.id %>">[<%= book.category %>] <%= book.title %></a></font>
    <br><br>
    <p>발행일자: <%= book.publicdate %>
    <p>회원리뷰: <%= book.book_review.count %> 개</p>
  </div>
  <div class="col-md-3 text-right">
    <br>
    <br>
    <font style="font-size:20px;"><%= book.price %></font> 원
    <br>
    <br>
    <font color="#FF0000"><%= book.out %></font>
  </div>
</div>
<% end %>

