<%= render :partial => "layouts/header" %>

<p><%= flash[:alert] %></p>
<h2>구매 목록 보기</h2>

<% @purchaselist.reverse.each do |purchaselist| %>
<div style="border: 1px solid #ffffff">
  <h4><a href="/books/show/<%= purchaselist.book.id %>"><%= purchaselist.book.title %></a> [<%= purchaselist.book.book_review.count %>] <%= purchaselist.book.price %> 원 </h4>

</div>
<% end %>

<h2>구매 총액: <%= @total_price %> 원</h2>
